.break-modal {
  &__time {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.create-appointment {
  &__params-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--brand-500);
  }

  &__params {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    &--icon {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }
  }

  &__calendar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }

  &__services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--select {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &--table {
      margin-top: 1rem;
      table {
        border-collapse: collapse;

        th {
          background-color: var(--neutral-050);
          padding: 1rem;
          font-size: 1.4rem;
          font-weight: 600;
          &:not(:first-child) {
            text-align: center;
          }
        }
        tr td {
          font-size: 1.4rem;
        }
        tr td:first-child {
          min-width: 20rem;
          text-align: left;
        }

        tr:nth-child(even) {
          background-color: var(--neutral-050);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;

    &--right {
      gap: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0.5rem;
    }
  }
}

.choose-service-modal {
  min-width: 80rem;

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.tabs-modal {
  width: fit-content;
}

.delete-modal {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.u-p-0 {
  padding: 2rem 0;
}

.u-full-zero {
  padding: 0;
}

.u-mt-1 {
  margin-top: 1rem;
}

.u-mt-2 {
  margin-top: 2rem;
}
