.recordsReports {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfcfe;
  height: 100%;

  &__content {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    &__filters {
      &__header {
        display: flex;
        flex-direction: column;
        padding: 1.6rem 0;
        gap: 0.8rem;

        &__content {
          display: flex;
          justify-content: space-between;
          &__title {
            font-size: 3.4rem;
            color: #171a1c;
          }
        }
      }
    }

    &__list {
        &__header {
          display: flex;
          flex-direction: column;
          padding: 1.6rem 0;
          gap: 0.8rem;
          &__title {
            font-size: 2.4rem;
            color: #171a1c;
          }
        }
    }
  }
}
