.link {
  &.active {
    background-color: #0b6bcb;
  }
}

.assistant {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 9999;
  padding: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: var(--brand-500);
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(26, 99, 172, 0.743);
  }
  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
  }
}
