.layout {
  display: flex !important;
  min-height: 100vh;
  justify-content: space-between !important;

  &__sidebar {
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
