.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50rem;
  &__content {
    height: 90%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    button {
      height: 4rem;
      box-shadow: none;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.modal {
  overflow: hidden;
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  height: 90%;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
  color: var(--text-primary);
  animation: slideInFromLeft 0.5s ease;
  &__window {
    padding: 2rem;
    height: 100%;
    &__content {
      display: flex;
      flex-direction: column;

      padding: 1rem;
      height: 95%;
    }
    &__header {
      height: 4rem;
    }
    &__title {
      font-size: 1.6rem;
      color: var(--text-primary);
      font-weight: 400;
    }
  }
}

.bot {
  display: flex;
  align-self: flex-start; /* Align bot messages to the left */
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background: #eee;
  border-bottom-left-radius: 0;
  font-size: 1.2rem;
  max-width: 50%;
  width: fit-content;
}

.user {
  display: flex;
  align-self: flex-end; /* Align user messages to the right */
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background: #007bff;
  color: white;
  border-bottom-right-radius: 0;
  font-size: 1.2rem;
  max-width: 50%;
  width: fit-content;
}
