.tabs {
  &__content {
    width: 100%;
    &__tab {
      display: flex;
      width: 100%;
      &__link {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        justify-content: space-between;
        padding: 0.9rem 1.6rem;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &__icon {
          font-size: 2.4rem;
          color: var(--neutral-500);
          margin-right: 1rem;
        }
        p {
          font-size: 1.4rem;
          font-weight: 500;
          opacity: 80%;
          color: var(--neutral-500);
          letter-spacing: 0.4;
        }
      }
    }
  }
}

.tabs__content__tab__link.active {
  border-bottom-color: var(--primary-main);
  p {
    color: var(--primary-main);
    opacity: 100%;
  }
  .tabs__content__tab__link__icon {
    color: var(--primary-main);
  }
}
