.break-modal {
  &__time {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.create-appointment {
  &__params-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--brand-500);
  }

  &__services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;

    &--right {
      gap: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.delete-modal {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.u-p-0 {
  padding: 2rem 0;
}

.u-full-zero {
  padding: 0;
}
.u-w-full {
  width: 100%;
}

.modalContent {
  padding: 0;
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1.3rem;
      p {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-primary);
        margin: 0;
        a {
          font-size: 1.6rem;
          font-weight: 400;
          color: var(--brand-500);
          text-decoration: none;
        }
      }
      span {
        font-size: 1.6rem;
      }
      button {
        background: none;
        font-size: 1.6rem;
        font-weight: 400;
        cursor: pointer;
        margin-right: 1rem;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &:last-child {
      margin-top: 1rem;
    }
  }
}

.not_exist {
  color: var(--neutral-500);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  button {
    font-size: 1.4rem;
  }
}

.u-header-text {
  font-size: 2.4rem;
  color: var(--primary-500);
  line-height: 3.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.u-label {
  min-width: 10rem;
  gap: 2rem;
}
.u-label1 {
  min-width: 9rem;
}
