.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__wrapper {
    padding: 3rem 7rem 0rem 7rem;
  }
  &__title {
    font-size: 3.4rem;
    font-weight: 400;
    color: var(--text-primary);
    padding-top: 2rem;
  }
  &__upper {
    padding: 3rem 7rem 4rem 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-items: right;
    &__main {
      display: flex;
      flex: 2;
      flex-direction: column;
      gap: 2rem;
    }
    &__position {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 2rem;
    }
    &__reviews {
      flex: 2;
    }
    &__checkboxes {
      display: flex;
      flex-direction: row;

      gap: 4rem;
      align-items: center;
      justify-content: end;

      p {
        font-size: 1.6rem;
        color: var(--text-primary);

        text-align: end;
      }
    }
    &__autocomplete {
      display: flex;
      flex-direction: row;
      width: 46rem;
      gap: 2rem;
      align-items: center;
    }
    &__card {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      //   height: 20rem;
      min-width: 60rem;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      gap: 2rem;
      justify-content: flex-end;
      padding-right: 7rem;
      button {
        font-size: 1.6rem;
        border-radius: 8px;
        cursor: pointer;
        text-transform: capitalize;
        width: 12rem;
      }
    }
  }
  &__lower {
    gap: 2rem;
    background-color: var(--neutral-050);
    padding: 2rem 7rem 2rem 7rem;
    &__container {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 0.5rem;
      elevation: 1;
      background-color: white;
      box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.24);
      &__label {
        font-size: 1.6rem;
        color: var(--text-secondary);
        opacity: 60%;
      }
      &__row {
        padding: 1rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        height: 50px;
        font-size: 1.6rem;
        align-items: center;
        justify-content: space-between;

        p {
          display: flex;
          flex-direction: row;
          height: 50px;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  thead tr th:first-child {
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
  }
  thead tr th {
    text-align: start;
    font-size: 1.4rem;
    font-weight: 600;
  }
  td {
    text-align: start;
    font-size: 1.4rem;
    &:first-child {
      text-align: center;
    }
    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      text-align: left;
      tr {
        background-color: #ffffff !important;
      }
      td {
        border: none;
        text-align: left;
      }
    }
  }

  td tr {
    width: 10rem;
  }

  th {
    border-bottom: 2px solid #ddd;
  }

  tbody tr:nth-child(odd) {
    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      tr {
        background-color: #f9f9f9 !important;
      }
      td {
        border: none;
        text-align: center;
      }
    }
  }
  tbody tr:last-child td {
    border-bottom: 0px;
  }

  tbody td:first-child {
    border-left: 0px solid #ddd;
  }
  tbody td:last-child {
    border-right: 0px solid #ddd;
  }
}

.tableSettings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  color: var(--primary-500);
  text-decoration: none;
}
