.tree {
  &__branch {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
  }
  &__service {
    padding: 1rem 0 1rem 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
  }
  &__open {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }
}
.selected {
  background-color: #2196f314; // or any other highlight color you prefer
}
