.home {
  height: 100%;
  &__top {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem 0rem 0.5rem 7rem;
    border-bottom: 1px solid var(--neutral-300);
    &__header {
      font-size: 3.4rem;
      line-height: 4.2rem;
      font-weight: 400;
      margin-top: 0.5rem;
    }
  }

  &__main {
    height: 100%;
    background-color: var(--neutral-050);
    padding: 2rem 2rem 0.5rem 7rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__calendar {
      border: 1px solid var(--neutral-300);
      padding: 0.5rem;
      border-radius: 8px;
      flex: 3;
      background-color: rgba(255, 255, 255, 1);
      transition: flex 0.3s ease;
    }

    &__calendar--expanded {
      flex: 5;
      transition: flex 0.3s ease;
    }

    &__panel {
      background-color: rgba(255, 255, 255, 1);
      flex: 1;
      transition: flex 0.3s ease;
      display: flex;
      flex-direction: column;
      max-width: 32rem;
    }

    &__panel--small {
      flex: 0.2;
      transition: flex 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 1);
      position: relative;
    }

    &__panel__toggle {
      padding: 0.5rem;
      border-radius: 4px;
      margin-top: 1rem;
    }

    &__panel__toggle--expanded {
      cursor: pointer;
    }

    &__panel__icon--container {
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;

  &__employees {
    margin-top: 3rem;
  }
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.u-text-blue {
  color: rgba(11, 107, 203, 1);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-family: "Inter", sans-serif;
}

.u-rotate-270 {
  transform: rotate(270deg);
}

.u-m-md {
  margin-top: 5rem;
}

.u-h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.u-cursor-pointer {
  cursor: pointer;
}

.fullcalendar {
  &__event {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: #000000;
    height: 100%;

    &--header {
      display: flex;
      justify-content: center;
    }
  }

  &__event--scheduled {
    background-color: var(--primary-100);
    border: 1px solid var(--primary-400);

    &--header {
      background-color: var(--primary-300);
    }
  }

  &__event--completed {
    background-color: var(--success-300);
    border: 1px solid var(--success-400);

    &--header {
      background-color: var(--success-400);
    }
  }

  &__event--underway {
    background-color: var(--deep-purple-050);
    border: 1px solid var(--deep-purple-400);

    &--header {
      background-color: var(--deep-purple-200);
    }
  }

  &__event--late {
    background-color: var(--danger-100);
    border: 1px solid var(--danger-400);

    &--header {
      background-color: var(--danger-300);
    }
  }

  &__event--no_show {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-400);

    &--header {
      background-color: var(--neutral-400);
    }
  }

  &__event--unconfirmed {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-800);
    color: #ffffff;

    &--header {
      background-color: var(--neutral-800);
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem 1rem 1rem 1rem;
    cursor: pointer;

    &--name {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 500;
      color: var(--primary-500);
    }

    &--profession {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem;
    }

    &--time {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

.calendar--status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  padding: 1rem;
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.prediction {
  margin-top: 3rem;

  &__date-picker {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;

    &--dash {
      width: 5px;
      font-size: 1.6rem;
    }
  }
}

.client {
  margin-top: 3rem;

  &__id {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

    &--buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
