.email {
  width: 60rem;
  background-color: var(--common-white);
  height: 68rem;
  border-radius: 16px;
  &__content {
    width: 100%;
    height: 100%;
    padding: 8rem 4.8rem;
    &__header {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: start;
      margin-bottom: 2rem;
      &__icon {
        width: 19.7rem;
        height: 5.9rem;
      }
      &__text {
        font-size: 4.8rem;
        color: var(--text-primary);
        font-weight: normal;
      }
    }
    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &__form_header {
        width: 100%;
        margin-bottom: 20px;
        p {
          font-size: 2.4rem;
          color: var(--text-primary);
        }
        hr {
          margin-top: 5px;
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.167);
        }
      }
      &__send {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        gap: 1.4rem;
        &__input {
          font-size: 1.6rem;
          width: 100%;
          height: 56px;
          color: var(--text-primary);
          &::placeholder {
            color: var(--text-secondary);
            font-size: 1.6rem;
          }
        }
        &__button {
          width: 100%;
          height: 42px !important;
          font-size: 15px !important;
        }
        &__choice {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: 1.5rem;
          margin: 10px 0px;
          color: var(--text-secondary);
        }
      }
    }
  }
}

.u-mt-md {
  margin-top: 2rem;
}
