.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--neutral-050);
  gap: 1.6rem;
  width: 100%;

  &__header {
    background-color: var(--common-white);
    border-bottom: 1px solid var(--neutral-300);
    &__upper {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding: 2rem 0 2.4rem 0;
      width: 100%;
      &__title {
        font-size: 3.4rem;
        font-weight: 400;
        color: var(--text-primary);
      }
      &__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-tertiary);
      }
      &__row {
        margin-top: 0.8rem;
        align-items: flex-start;
        &__cards {
          display: flex;
          flex-wrap: wrap;

          gap: 1rem;
          CounterCard {
            flex: 1;
          }
        }
      }
    }
  }
}

.category {
  display: flex;
  gap: 6.4rem;
}

.u-label {
  min-width: 10rem;
}
