.calculation {
  box-shadow: none;
  border-radius: 16px;
  border: 0.1rem solid rgba(99, 107, 116, 0.3);
  padding: 1.6rem;
  background-color: #fff;

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 80%;

    &__item {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 0.8rem;

      &__label {
        font-size: 1.6rem;
        font-weight: 400;
      }

      &__employee {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &__name {
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--primary-500);
        }
      }
    }
  }
}
