.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--neutral-050);
  gap: 1.6rem;
  width: 100%;
  &__header {
    background-color: var(--common-white);
    border-bottom: 1px solid var(--neutral-300);
    &__upper {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding: 2rem 0 2.4rem 0;
      width: 100%;
      &__title {
        font-size: 3.4rem;
        font-weight: 400;
        color: var(--text-primary);
      }
      &__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-tertiary);
      }
      &__row {
        margin-top: 0.8rem;
        align-items: flex-start;
        &__cards {
          display: flex;
          flex-wrap: wrap;

          gap: 1rem;
          CounterCard {
            flex: 1;
          }
        }
      }
    }
  }
}
.membership {
  display: flex;
  flex-direction: column;
  &__section {
    padding: 1.6rem 0rem 0.8rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    &__title {
      font-size: 2.4rem;
      font-weight: 400;
      color: var(--text-primary);
    }
  }
  &__noTableText {
    font-size: 1.6rem;
    font-weight: 400;
    color: #00000099;
  }
}

.transactions_table {
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  &__container {
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0.5rem;
    elevation: 1;
    background-color: white;
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 2px rgba(0, 0, 0, 0.24);
    &__label {
      font-size: 1.6rem;
      color: var(--text-secondary);
      opacity: 60%;
    }
    &__row {
      padding: 1rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: row;
      height: 50px;
      font-size: 1.6rem;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;

  thead tr th:first-child {
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
  }
  thead tr th {
    padding: 1rem;
    text-align: start;
    font-size: 1.4rem;
    font-weight: 600;
  }
  td {
    padding: 2rem;
    text-align: start;
    font-size: 1.4rem;
    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      text-align: left;
      tr {
        background-color: #ffffff !important;
      }
      td {
        border: none;
        text-align: left; /* Align text to the left in nested table */
      }
    }
  }

  td tr {
    width: 10rem;
  }

  th {
    border-bottom: 2px solid #ddd; /* Add border only at the bottom of the header */
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    table {
      width: 100%;
      border: none;
      border-collapse: collapse;
      text-align: left;
      tr {
        background-color: #f9f9f9 !important;
      }
      td {
        border: none;
        text-align: left; /* Align text to the left in nested table */
      }
    }
  }
  tbody tr:last-child td {
    border-bottom: 0px;
  }
  tbody tr:hover {
    background-color: #f1f1f1;
  }

  tbody td {
    border: 1px solid #cdd7e1; /* Add border only at the top of each cell in tbody */
  }
  tbody td:first-child {
    border-left: 0px solid #ddd; /* Add border only at the left of the first cell in tbody */
  }
  tbody td:last-child {
    border-right: 0px solid #ddd; /* Add border only at the left of the first cell in tbody */
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.name_link {
  color: var(--primary-500);
  text-decoration: none;
}
.income {
  color: var(--success-main);
}
.expense {
  color: var(--danger-500);
}

.tableSettings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.top_table {
  &__text {
    p {
      font-size: 1.6rem;
      color: rgba(50, 56, 62, 1);
    }
  }
}
