.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  p {
    font-size: 1.6rem;
    color: var(--text-primary);
  }
  &__single {
    &__input {
      font-size: 1.6rem;
      width: 40rem;
      color: var(--text-primary);
      &::placeholder {
        color: var(--text-secondary);
        font-size: 1.6rem;
      }
    }
  }
  &__double {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 40rem;
    align-items: center;
    &__inputDouble {
      font-size: 1.6rem;
      color: var(--text-primary);
      &::placeholder {
        color: var(--text-secondary);
        font-size: 1.6rem;
      }
    }
  }
}

.numberTextfield {
  display: flex;
  gap: 0.4rem;
  &__iconButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__icon {
      border-radius: 4px;
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid rgba(0, 0, 0, 0.23);
    }
  }
}
