.accordion {
  border: 1px solid var(--neutral-300);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 5px;
  z-index: 99999;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--neutral-100);
    padding: 1rem;
  }

  &__content {
    padding: 1rem;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
    &__item {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 1.5rem 0;
      width: 100%;

      justify-content: space-between;
      font-size: 1.4rem;
      border-radius: 4px;
      padding: 1rem;
      &:last-child {
        border-bottom: none;
      }
      &__col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
      }
      &__params {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 60%;
        &__el {
          border-radius: 50px;
          padding: 0rem 2rem;
          background-color: #e3effb;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease, border-color 0.3s ease;
          &:hover {
            background-color: #f9f9f9;
          }
          &--selected {
            background-color: #c7dff7;
            border-color: #0b6bcb;
            border: 1px solid #0b6bcb;
          }
          &__label {
            font-size: 1.2rem;
            color: #0b6bcb;
          }
        }
      }
      &__name {
        display: flex;
        width: 100%;

        justify-content: space-between;

        height: 3rem;
      }

      &__details {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      &__input {
        width: 50px;
        height: 3rem;
        padding-left: 1rem;
      }

      &__icon {
        color: green;
        margin-right: 0.5rem;
      }

      &__price {
        margin-left: 4rem;
        width: 11rem;
      }
    }
    &__itemselected {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      width: 100%;

      justify-content: space-between;
      background-color: #e3effb;
      font-size: 1.4rem;
      border-radius: 4px;
      padding: 1rem;

      &:last-child {
        border-bottom: none;
      }
      &__col {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
      }
      &__params {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 60%;
        &__el {
          border: 1px solid var(--neutral-300);
          border-radius: 50px;
          padding: 0rem 2rem;
          background-color: #e3effb;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease, border-color 0.3s ease;
          &:hover {
            background-color: #f9f9f9;
          }
          &--selected {
            background-color: #c7dff7;
            border: 1px #0b6bcb;
          }
          &__label {
            font-size: 1.2rem;
            color: #0b6bcb;
          }
        }
      }
      &__name {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      &__details {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      &__input {
        width: 50px;
        height: 3rem;
        padding-left: 1rem;
      }

      &__icon {
        color: green;
        margin-right: 0.5rem;
      }

      &__price {
        margin-left: 4rem;
        width: 11rem;
      }
    }
  }
}

.quantity-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__button {
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
