.main {
  padding: 3rem 7rem;
  h1 {
    font-size: 2.4rem;
    color: var(--text-primary);
    font-weight: 400;
  }
}

.main__content__grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-text {
  font-size: 12px;
}

.wrapper {
  background-color: #fff;
}
