.topItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
}
.text {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 0.8rem;
}
.textValue {
  font-size: 2rem;
  font-weight: 500;
}

.hoverClass {
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
