// Danger Colors
$brand-danger-050: #fef6f6;
$brand-danger-100: #fde4da;
$brand-danger-200: #f7e5e5;
$brand-danger-300: #f08998;
$brand-danger-400: #e74774;
$brand-danger-500: #e41c1e;
$brand-danger-600: #a51818;
$brand-danger-700: #7c1212;
$brand-danger-800: #a3403a;
$brand-danger-900: #240505;

// Neutral Colors
$brand-neutral-050: #fbfcfe;
$brand-neutral-100: #d0d4d8;
$brand-neutral-200: #dde7ee;
$brand-neutral-300: #cfd7e1;
$brand-neutral-400: #9f9fad;
$brand-neutral-500: #636b7a;
$brand-neutral-600: #555e68;
$brand-neutral-700: #323a3e;
$brand-neutral-800: #171a1c;
$brand-neutral-900: #0b0d0e;

// Primary Colors
$brand-primary-050: #edf5fd;
$brand-primary-100: #e3fffb;
$brand-primary-200: #c7f1f7;
$brand-primary-300: #97c3f0;
$brand-primary-400: #4393e4;
$brand-primary-500: #0b6cbb;
$brand-primary-600: #1f85a5;
$brand-primary-700: #12467b;
$brand-primary-800: #0a2744;
$brand-primary-900: #051423;

// Success Colors
$brand-success-050: #e6fef6;
$brand-success-100: #a7fee3;
$brand-success-200: #97facc;
$brand-success-300: #61ae61;
$brand-success-400: #51be51;
$brand-success-500: #17af11;
$brand-success-600: #13e613;
$brand-success-700: #0a470a;
$brand-success-800: #042704;
$brand-success-900: #021d02;

// Warning Colors
$brand-warning-050: #fef4f6;
$brand-warning-100: #fde0e1;
$brand-warning-200: #fec2c5;
$brand-warning-300: #fb896e;
$brand-warning-400: #f94e3e;
$brand-warning-500: #fb3119;
$brand-warning-600: #c72430;
$brand-warning-700: #9b2808;
$brand-warning-800: #6e1405;
$brand-warning-900: #f10602;

// Text Colors
$theme-text-icon: #636b7a;
$theme-text-primary: #171a1c;
$theme-text-secondary: #323a3e;
$theme-text-tertiary: #555e68;

// Common Colors
$theme-common-white: #ffffff;
$theme-common-black: #000000;

// Elevation Shadows (no color code, example for naming if needed)
$shadow-xs: 'box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24)';
$shadow-sm: 'box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23)';
$shadow-md: 'box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23)';
$shadow-lg: 'box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.22), 0px 10px 10px rgba(0, 0, 0, 0.25)';
$shadow-xl: 'box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25), 0px 15px 12px rgba(0, 0, 0, 0.22)';