.upper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  width: 100%;

  &__reportTitle {
    font-size: 3.4rem;
    color: #000000de;
  }

  &__reportDescription {
    font-size: 1.6rem;
    color: #00000099;
    margin-bottom: 1.5rem;
  }

  &__reportSearchBar {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__dateRange {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      span {
        font-size: 1.6rem;
        color: #000000de;
      }
    }

    &__buttonGroup {
      display: flex;
      gap: 1rem;

      button {
        min-height: 40px;
        font-size: 1rem;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        text-transform: none;
        box-shadow: none;

        &:nth-child(1) {
          border-color: #97c3f0;
          color: #0b6bcb;
        }

        &:nth-child(2) {
          border-color: #4caf50;
          color: #4caf50;
        }

        &:nth-child(3) {
          background-color: #0b6bcb;
          color: white;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
