.storage {
  display: flex;
  flex-direction: column;
  background-color: #fbfcfe;
  &__bread {
    padding: 2rem 5.5rem;
    background-color: #ffffff;
  }
  &__tabs {
    padding: 0 5.5rem;
  }

  &__upper {
    padding: 1rem 5.5rem 2rem 5.5rem;
    display: flex;
    gap: 1rem;
    height: 100%;
    background-color: #ffffff;
    flex-direction: row;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    &__content {
      flex: 3;
      &__label {
        font-size: 24px;
        font-weight: 400;
      }
      &__items {
        margin: 1.6rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      &__hint {
        margin-top: 1.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        &__row {
          display: flex;
          flex-direction: row;
          font-size: 1.6rem;
          gap: 1rem;
          align-items: center;
        }
      }
    }
    &__search {
      flex: 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      &__content {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        &__row {
          width: 95%;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;
          justify-content: end;
          font-size: 1.6rem;
        }
        &__label {
          width: 30%;
          white-space: nowrap;
          max-lines: 1;
          text-align: end;
        }
      }
    }
  }

  &__lower {
    padding: 2.4rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.4rem;
      margin-top: 2rem;

     

      &__section__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
