.layout {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    z-index: 1;
  }
}
